@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

*{
    margin: 0px;
    padding: 0px;
    font-family: "Roboto";
}

.main-heading{
    color: #1f2933;
    font-size: 24px;
    font-weight: bold;
}

.image{
    width: 87px;
    height: 90px;
}

.card-heading{
    font-size: 24px;
    color: #1f2933;
}

.card-para{
    color: #7b8794;
}

.feature-card{
    text-align: center;
}

.in-part{
    font-weight: bold;
    font-style: italic;
    color: #1f2933;
}